footer {
    width: 100%;
    background: var(--secondary-color);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    align-items: center;
}

footer p {
    color: var(--tertiary-color);
    padding: 1.0em 1.0em;


}

footer p:last-child {
    justify-self: end;
}

footer p a,
footer p a:link,
footer p a:visited,
footer p a:hover {
    color: var(--tertiary-color);
}